body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: black;
}

h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.76);
    margin-bottom: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.details {
    display: none;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 14px; /* Ajuste de tamanho para leitura */
}
.details strong {
    font-weight: bold;
}